#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
	width:200px;
	height:190px;
	margin:20px auto;
	float:right;
	}

.left {
	width:200px;
	height:200px;
	float:left;
	}

.center {
	width:200px;
	height:200px;
	float:left;
	}
	
.right {
	width:200px;
	height:200px;
	float:right;
	}

#showText {
	width:200px;
	height:190px;
	margin:0px auto;
	float:left;
	}
		
#cart {
	top:0;margin:0px auto;
	width:400px;
	height:200px;
    }
	
#btnOrder {
	margin:10px 0px 0px 100px;
	width:100px;
	height:40px;
	display: block;
	margin: 25px auto;
	}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(#e3ff41, #ff971f);
}

{
	background-color: #ffcc66;
	color: #003399;
	font-family: Comic Sans MS;
	font-size: 14px;
}
a
{
	color: #CC0000;
	text-decoration: none;
}
a:visited
{
	color: #CC0000;
}
a:hover
{
	color: #006600;
}
a:active
{
	color: #CC0000;
}

h1
{
	background-color: #d16a57;
	text-align: center;
	margin: 35px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #02020e;
}

h3
{
	color: #333333;
	font-weight: bold;
}

p
{
	font-family: Georgia;
	color: #003300;
	padding: 15px;
}

li
{
	font-family: Arial;
	background-color: #808080;
	font-weight: bold;
	font-size: 18px;
}

